<div class="container-fluid">
  <div class="row titulos">
     <div class="col">
        <h2>Login</h2>
        <p>Ingrese usuario y contraseña. <b>(flavia/1234)</b></p>
     </div>
  </div>

      <form action="/" method="post">
        <div class="mb-3">
          <label class="form-label">Usuario</label>
          <input type="text" class="form-control" name="usr" value="1">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="psw" value="1" aria-describedby="emailHelp">
        </div>
                
        <button type="submit" class="btn btn-warning">Entrar</button>
        <p><b>{{mensajeErr}}</b></p>
      </form>

</div>

